body{
    background-color: aliceblue;
}
.address-form{
    margin: 15px;
}
#fetchBtn{
    background-color: darkslategray;
    width: 100%;
}
.progress{
    height: 25px;
    margin: 10px;
}
#progress-bar{
    font-size: 14px;
    width: 0;
    aria-valuenow:"25";
    aria-valuemin: 0;
    aria-valuemax:"100"
}
.save-form{
    margin: 10px;
}
.setting-input{
    width: 75%;
    margin-top: 10px;
}
.img-path{
    margin-top: 20px;
}
#sel-dir{
    background-color: green;
    margin-top: 10px;
}
.save-btn-wrapper{
    display: flex;
    justify-content: center;
}
#saveBtn{
    width: 50%;
}
.alert{
    display: none;
}
.form-check{
    margin-left: 10px;
}
#limit-block{
    /*display: flex;*/
}
#limitImage{
    margin-left: 10px;
    width: 100px;
    text-align: center;
    border: 0;
}
.error{
    margin-left: 20px;
    color: red;
}
#inLink{
    box-shadow: 0 0 0 0.2rem transparent;
}
.btn-outline-secondary.dropdown-toggle.show:focus{
    box-shadow: 0 0 0 0.25rem transparent;
}
.btn-outline-secondary{
    color: black;
}